a {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 40px;
}

a:hover {
  background-color: black;
  border: 2px solid rgb(204, 2, 2, 1);
  box-shadow: 0px 2px 2px 1px black, 0px 4px 1px 1px rgba(255, 255, 255, 0.5);
}

a:active {
  border: 2px solid rgb(204, 2, 2, 1);
  transform: translateY(4px);
  box-shadow: none;
}
