.headerDiv {
  width: 100%;
  height: 12%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 10% 60% 30%;
  grid-template-rows: 100%;
  gap: 0px;
  align-items: center;
  font-weight: bolder;
}

.logoRD {
  line-height: 1;
  width: fit-content;
  justify-self: center;
  font-size: 9vh;
  grid-column: 1;
  grid-row: 1;
}

.keywordsReference {
  color: rgba(255, 255, 255, 0.87);
  font-size: 3.5vh;
  grid-row: 1;
  grid-column: 3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px;
  padding: 10px;
  justify-items: center;
  align-items: center;
}
